@-o-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.careers-page .careers {
  position: relative;
  display: block;
  left: 0;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  margin: 0 0 -10px 0; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .careers-page .careers {
      margin: 0 0 -14px 0; } }
  @media only screen and (min-width: 464px) and (max-width: 767px) {
    .careers-page .careers {
      margin: 0 0 -34px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 463px) {
    .careers-page .careers {
      margin: 0 0 36px 0; } }
  .careers-page .careers .main-img {
    margin: 0; }
    @media only screen and (max-width: 1023px) {
      .careers-page .careers .main-img {
        display: none; } }
  .careers-page .careers .main-img-bg {
    display: none;
    background: transparent url("../img/careers/splash.jpg") no-repeat 0 0; }
    @media only screen and (max-width: 1023px) {
      .careers-page .careers .main-img-bg {
        display: block;
        margin: 0;
        height: 230px;
        width: inherit;
        background-size: 767px;
        background-position: center; } }
    @media only screen and (min-width: 320px) and (max-width: 463px) {
      .careers-page .careers .main-img-bg {
        background-size: 767px;
        background-position: -380px -10px; } }
  .careers-page .careers .careers-content {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .careers-page .careers .careers-content {
        width: 700px; } }
    @media only screen and (min-width: 464px) and (max-width: 767px) {
      .careers-page .careers .careers-content {
        width: 100%;
        padding: 20px 0; } }
    @media only screen and (min-width: 320px) and (max-width: 463px) {
      .careers-page .careers .careers-content {
        width: 100%;
        margin: 34px auto 20px auto;
        padding: 0; } }
    .careers-page .careers .careers-content .title,
    .careers-page .careers .careers-content .copy {
      width: 630px;
      text-align: center;
      margin: 0 auto; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .careers-page .careers .careers-content .title,
        .careers-page .careers .careers-content .copy {
          width: 540px; } }
      @media only screen and (min-width: 464px) and (max-width: 767px) {
        .careers-page .careers .careers-content .title,
        .careers-page .careers .careers-content .copy {
          width: 450px; } }
      @media only screen and (min-width: 320px) and (max-width: 463px) {
        .careers-page .careers .careers-content .title,
        .careers-page .careers .careers-content .copy {
          width: 280px; } }
    @media only screen and (max-width: 1023px) {
      .careers-page .careers .careers-content .pay {
        cursor: pointer; }
        .careers-page .careers .careers-content .pay.active {
          height: 20px;
          color: #ed642f;
          /* bordered triangle */ }
          .careers-page .careers .careers-content .pay.active:after,
          .careers-page .careers .careers-content .pay.active:before {
            top: 5px;
            left: 21px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; } }
      @media only screen and (max-width: 1023px) and (max-width: 1023px) {
        .careers-page .careers .careers-content .pay.active:after,
        .careers-page .careers .careers-content .pay.active:before {
          top: 13px; } }
    @media only screen and (max-width: 1023px) {
          .careers-page .careers .careers-content .pay.active:before {
            border-bottom-color: #bbb9b9;
            border-width: 11px;
            margin-left: -14px; } }
    .careers-page .careers .careers-content .title {
      margin: 0 auto 11px auto;
      text-transform: uppercase; }
    .careers-page .careers .careers-content .h2 {
      color: #4c4949; }
    .careers-page .careers .careers-content .t2,
    .careers-page .careers .careers-content .t14,
    .careers-page .careers .careers-content .t8 {
      color: #4c4949; }
    @media only screen and (max-width: 1023px) {
      .careers-page .careers .careers-content .pay {
        font-size: 16px; } }
    @media only screen and (max-width: 1023px) {
      .careers-page .careers .careers-content .t14 {
        display: none; } }
    .careers-page .careers .careers-content .t10b {
      color: #f06423; }
    .careers-page .careers .careers-content .path {
      margin: 45px auto 0 auto; }
      .careers-page .careers .careers-content .path .title {
        width: 100%;
        padding: 20px 0 0 0;
        position: relative;
        border-top: 1px solid #cbcbcb;
        /* bordered triangle */ }
        .careers-page .careers .careers-content .path .title:after,
        .careers-page .careers .careers-content .path .title:before {
          top: 0;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .careers-page .careers .careers-content .path .title:after {
          border-color: rgba(255, 255, 255, 0);
          border-width: 5px;
          margin-left: -5px;
          background: transparent url("../img/light-bg-400.jpg") repeat;
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -6px; }
        .careers-page .careers .careers-content .path .title:before {
          border-color: rgba(110, 110, 109, 0);
          border-top-color: #cbcbcb;
          border-width: 8px;
          margin-left: -8px; }
    .careers-page .careers .careers-content .search .title {
      width: 100%;
      padding: 15px 0;
      position: relative;
      border-bottom: 1px solid #cbcbcb;
      /* bordered triangle */ }
      @media only screen and (max-width: 1023px) {
        .careers-page .careers .careers-content .search .title {
          padding: 15px 0 10px 0; } }
      .careers-page .careers .careers-content .search .title:after,
      .careers-page .careers .careers-content .search .title:before {
        bottom: -17px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      .careers-page .careers .careers-content .search .title:after {
        border-color: rgba(255, 255, 255, 0);
        border-width: 5px;
        margin-left: -5px;
        background: transparent url("../img/light-bg-400.jpg") repeat;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: -5px; }
      .careers-page .careers .careers-content .search .title:before {
        border-color: rgba(110, 110, 109, 0);
        border-top-color: #cbcbcb;
        border-width: 8px;
        margin-left: -8px; }
    .careers-page .careers .careers-content .buttons {
      width: 590px;
      margin: 30px auto; }
      @media only screen and (min-width: 464px) and (max-width: 767px) {
        .careers-page .careers .careers-content .buttons {
          width: 500px; } }
      @media only screen and (min-width: 320px) and (max-width: 463px) {
        .careers-page .careers .careers-content .buttons {
          width: 320px; } }
      .careers-page .careers .careers-content .buttons .button {
        width: 285px;
        height: 58px;
        float: left;
        line-height: 4.3; }
        @media only screen and (min-width: 464px) and (max-width: 767px) {
          .careers-page .careers .careers-content .buttons .button {
            width: 500px;
            float: none;
            margin: 0 auto 20px auto; } }
        @media only screen and (min-width: 320px) and (max-width: 463px) {
          .careers-page .careers .careers-content .buttons .button {
            width: 280px;
            float: none;
            margin: 0 auto 20px auto; } }
        .careers-page .careers .careers-content .buttons .button:last-child {
          float: right; }
          @media only screen and (max-width: 1023px) {
            .careers-page .careers .careers-content .buttons .button:last-child {
              float: none; } }
    .careers-page .careers .careers-content .roles {
      width: 850px;
      height: 750px;
      margin: 50px auto;
      overflow: hidden;
      position: relative; }
      @media only screen and (min-width: 1024px) and (max-width: 1439px) {
        .careers-page .careers .careers-content .roles {
          width: 952px;
          margin: -30px auto 0 auto; } }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .careers-page .careers .careers-content .roles {
          width: 700px;
          margin: -170px auto 0 auto; } }
      @media only screen and (max-width: 1023px) {
        .careers-page .careers .careers-content .roles {
          width: 290px;
          height: 200px;
          margin: 10px auto 0 auto; } }
      .careers-page .careers .careers-content .roles .steps {
        width: 100%;
        height: 750px;
        position: absolute;
        top: 30px;
        left: -15px;
        background: transparent url("../img/careers/steps/steps.png") no-repeat;
        background-position: 0 0;
        background-size: 850px 620px; }
        @media only screen and (min-width: 1024px) and (max-width: 1439px) {
          .careers-page .careers .careers-content .roles .steps {
            top: 0;
            left: 0;
            background-position: 0 35px;
            background-size: 892px 615px; } }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .careers-page .careers .careers-content .roles .steps {
            top: 0;
            left: 0;
            background-size: 700px 460px;
            background-position: -15px 190px; } }
        @media only screen and (max-width: 1023px) {
          .careers-page .careers .careers-content .roles .steps {
            top: 0;
            left: 0;
            background-size: 290px 180px;
            background-position: -10px 0px; } }
      .careers-page .careers .careers-content .roles .role {
        float: left;
        width: 125px;
        display: block;
        margin: 0 20px 0 0;
        position: relative;
        height: 650px; }
        @media only screen and (min-width: 1024px) and (max-width: 1439px) {
          .careers-page .careers .careers-content .roles .role {
            width: 142px; } }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .careers-page .careers .careers-content .roles .role {
            width: 100px; } }
        @media only screen and (max-width: 1023px) {
          .careers-page .careers .careers-content .roles .role {
            width: 40px;
            margin: 0 10px 0 0;
            height: 160px; } }
        .careers-page .careers .careers-content .roles .role:last-child {
          margin: 0; }
        .careers-page .careers .careers-content .roles .role .details {
          position: relative;
          top: 660px; }
          @media only screen and (max-width: 1023px) {
            .careers-page .careers .careers-content .roles .role .details {
              top: 185px; } }
          .careers-page .careers .careers-content .roles .role .details .plus-popup {
            top: -1px; }
            @media only screen and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .details .plus-popup {
                display: none; } }
        .careers-page .careers .careers-content .roles .role .bar-wrapper {
          position: absolute;
          width: 100%;
          top: 0;
          height: 650px;
          overflow: hidden; }
          @media only screen and (max-width: 1023px) {
            .careers-page .careers .careers-content .roles .role .bar-wrapper {
              height: 160px;
              top: 20px; } }
          .careers-page .careers .careers-content .roles .role .bar-wrapper .bar {
            background: #ed642f;
            width: 100%;
            position: absolute;
            bottom: 0; }
            @media only screen and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper .bar {
                bottom: 0;
                cursor: pointer; } }
          .careers-page .careers .careers-content .roles .role .bar-wrapper.one .bar {
            height: 42px; }
            @media only screen and (min-width: 1024px) and (max-width: 1439px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.one .bar {
                height: 44px; } }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.one .bar {
                height: 32px; } }
            @media only screen and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.one .bar {
                height: 13px; } }
          .careers-page .careers .careers-content .roles .role .bar-wrapper.two .bar {
            height: 72px; }
            @media only screen and (min-width: 1024px) and (max-width: 1439px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.two .bar {
                height: 75px; } }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.two .bar {
                height: 55px; } }
            @media only screen and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.two .bar {
                height: 24px; } }
          .careers-page .careers .careers-content .roles .role .bar-wrapper.three .bar {
            height: 140px; }
            @media only screen and (min-width: 1024px) and (max-width: 1439px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.three .bar {
                height: 148px; } }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.three .bar {
                height: 110px; } }
            @media only screen and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.three .bar {
                height: 44px; } }
          .careers-page .careers .careers-content .roles .role .bar-wrapper.four .bar {
            height: 192px; }
            @media only screen and (min-width: 1024px) and (max-width: 1439px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.four .bar {
                height: 204px; } }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.four .bar {
                height: 150px; } }
            @media only screen and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.four .bar {
                height: 60px; } }
          .careers-page .careers .careers-content .roles .role .bar-wrapper.five .bar {
            height: 332px; }
            @media only screen and (min-width: 1024px) and (max-width: 1439px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.five .bar {
                height: 350px; } }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.five .bar {
                height: 260px; } }
            @media only screen and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.five .bar {
                height: 104px; } }
          .careers-page .careers .careers-content .roles .role .bar-wrapper.six .bar {
            height: 515px; }
            @media only screen and (min-width: 1024px) and (max-width: 1439px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.six .bar {
                height: 544px; } }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.six .bar {
                height: 404px; } }
            @media only screen and (max-width: 1023px) {
              .careers-page .careers .careers-content .roles .role .bar-wrapper.six .bar {
                height: 162px; } }
  .careers-page .careers .careers-image {
    width: 100%; }
    @media only screen and (min-width: 464px) and (max-width: 767px) {
      .careers-page .careers .careers-image {
        width: 568px;
        margin: 0 auto; } }
    .careers-page .careers .careers-image img {
      width: 100%; }
      @media only screen and (max-width: 1023px) {
        .careers-page .careers .careers-image img {
          margin: 0;
          height: 230px;
          width: auto;
          position: relative;
          left: -58px; } }
      @media only screen and (min-width: 320px) and (max-width: 463px) {
        .careers-page .careers .careers-image img {
          left: 0;
          height: auto;
          width: 100%; } }

.modal-appended.careers-page .modal-close {
  display: none; }

.modal-appended.careers-page .careers .careers-content .path .roles {
  overflow: visible; }
