@-o-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@font-face {
  font-family: test;
  src: url("../fonts/test.eot");
  src: url("../fonts/test.eot?#iefix") format("embedded-opentype"), url("../fonts/test.woff") format("woff"), url("../fonts/test.ttf") format("truetype"); }

@font-face {
  font-family: TypeWriter2;
  src: url("../fonts/typewriter2.eot");
  src: url("../fonts/typewriter2.eot?#iefix") format("embedded-opentype"), url("../fonts/typewriter2.woff") format("woff"), url("../fonts/typewriter2.ttf") format("truetype"); }

@font-face {
  font-family: 'Zemestro Std Book';
  src: url("../fonts/Zemestro Regular.eot");
  src: url("../fonts/Zemestro Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Zemestro Regular.woff") format("woff"), url("../fonts/Zemestro Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Zemestro Std Medium';
  src: url("../fonts/Zemestro Medium.eot");
  src: url("../fonts/Zemestro Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Zemestro Medium.woff") format("woff"), url("../fonts/Zemestro Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Zemestro Std Bold';
  src: url("../fonts/Zemestro Bold.eot");
  src: url("../fonts/Zemestro Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Zemestro Bold.woff") format("woff"), url("../fonts/Zemestro Bold.ttf") format("truetype"); }

html, body {
  color: #fff;
  font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif'; }
  html .h1, body .h1 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    text-transform: uppercase;
    font-size: 44px;
    color: #fff;
    line-height: 1.2; }
    @media only screen and (max-width: 1023px) {
      html .h1, body .h1 {
        font-size: 28px;
        line-height: 1.1; } }
  html .h2, body .h2 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.5px;
    color: #fff;
    line-height: 1.2; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .h2, body .h2 {
        font-size: 36px;
        line-height: 1.1; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .h2, body .h2 {
        font-size: 28px;
        line-height: 1.1; } }
    @media only screen and (max-width: 1023px) {
      html .h2, body .h2 {
        font-size: 24px;
        line-height: 1.1; } }
  html .h3, body .h3 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 1.5px; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .h3, body .h3 {
        font-size: 26px;
        letter-spacing: 0.5px;
        line-height: 1.1; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .h3, body .h3 {
        font-size: 24px;
        line-height: 1.1;
        letter-spacing: 0.5px; } }
    @media only screen and (max-width: 1023px) {
      html .h3, body .h3 {
        font-size: 24px;
        line-height: 1.1;
        letter-spacing: 0.5px; } }
  html .h4, body .h4 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 26px;
    color: #fff; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .h4, body .h4 {
        font-size: 24px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .h4, body .h4 {
        font-size: 20px; } }
    @media only screen and (max-width: 1023px) {
      html .h4, body .h4 {
        font-size: 22px; } }
  html .n1, body .n1 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .n1, body .n1 {
        font-size: 16px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .n1, body .n1 {
        font-size: 22px; } }
    @media only screen and (max-width: 1023px) {
      html .n1, body .n1 {
        font-size: 22px; } }
  html .active .n1, body .active .n1 {
    font-family: 'Zemestro Std Medium', Helvetica, Arial, 'sans-serif'; }
  html .n2, body .n2 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 14px;
    text-transform: capitalize; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .n2, body .n2 {
        font-size: 18px; } }
    @media only screen and (max-width: 1023px) {
      html .n2, body .n2 {
        font-size: 18px; } }
  html .n5, body .n5 {
    font-size: 20px;
    color: #B0B0B0;
    line-height: 3.8;
    text-decoration: none; }
    @media only screen and (max-width: 1023px) {
      html .n5, body .n5 {
        font-size: 18px;
        line-height: 3; } }
  html .n6, body .n6 {
    font-family: 'Zemestro Std Bold', Helvetica, Arial, 'sans-serif';
    font-size: 14px;
    letter-spacing: 1.5px; }
    @media only screen and (max-width: 1023px) {
      html .n6, body .n6 {
        font-size: 13px; } }
  html .n7, body .n7 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 14px; }
    @media only screen and (max-width: 1023px) {
      html .n7, body .n7 {
        font-size: 12px; } }
  html .n8, body .n8 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 22px; }
  html .t1, body .t1 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 36px;
    line-height: 1.1;
    color: #f06423; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .t1, body .t1 {
        font-size: 28px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t1, body .t1 {
        font-size: 26px; } }
    @media only screen and (max-width: 1023px) {
      html .t1, body .t1 {
        font-size: 28px; } }
  html .t2, body .t2 {
    font-family: TypeWriter2, Georgia, serif;
    line-height: 1.3;
    font-size: 16px; }
    @media only screen and (max-width: 1023px) {
      html .t2, body .t2 {
        font-size: 15px;
        line-height: 1.3; } }
  html .t4, body .t4 {
    font-family: 'Zemestro Std Medium', Helvetica, Arial, 'sans-serif';
    font-size: 14px; }
  html .t5, body .t5 {
    font-family: 'Zemestro Std Medium', Helvetica, Arial, 'sans-serif';
    font-size: 18px;
    letter-spacing: 1px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t5, body .t5 {
        font-size: 16px; } }
  html .t6, body .t6 {
    font-family: 'Zemestro Std Medium', Helvetica, Arial, 'sans-serif';
    font-size: 14px;
    color: #7e7e7e;
    text-transform: uppercase; }
  html .t7, body .t7 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 14px;
    line-height: 1.1;
    color: #7e7e7e; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .t7, body .t7 {
        font-size: 16px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t7, body .t7 {
        font-size: 13px; } }
    @media only screen and (max-width: 1023px) {
      html .t7, body .t7 {
        font-size: 14px;
        line-height: 1.1; } }
  html .t8, body .t8 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 26px;
    line-height: 1.2; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t8, body .t8 {
        font-size: 24px;
        line-height: 1.1; } }
    @media only screen and (min-width: 464px) and (max-width: 767px) {
      html .t8, body .t8 {
        font-size: 20px;
        line-height: 1.1; } }
    @media only screen and (min-width: 320px) and (max-width: 463px) {
      html .t8, body .t8 {
        font-size: 26px; } }
  html .t9, body .t9 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .t9, body .t9 {
        line-height: 1.4; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t9, body .t9 {
        font-size: 14px;
        line-height: 1.4; } }
  html .t9b, body .t9b {
    font-family: 'Zemestro Std Bold', Helvetica, Arial, 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .t9b, body .t9b {
        line-height: 1.4; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t9b, body .t9b {
        font-size: 14px;
        line-height: 1.4; } }
  html .t10, body .t10 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 16px;
    line-height: 1.1; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t10, body .t10 {
        line-height: 1.4; } }
    @media only screen and (max-width: 1023px) {
      html .t10, body .t10 {
        font-size: 14px; } }
  html .t10b, body .t10b {
    font-family: 'Zemestro Std Bold', Helvetica, Arial, 'sans-serif';
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.5px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t10b, body .t10b {
        line-height: 1.4; } }
    @media only screen and (max-width: 1023px) {
      html .t10b, body .t10b {
        font-size: 14px; } }
  html .t12, body .t12 {
    font-family: 'Zemestro Std Medium', Helvetica, Arial, 'sans-serif';
    font-size: 18px; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .t12, body .t12 {
        font-size: 15px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t12, body .t12 {
        font-size: 13px; } }
    @media only screen and (max-width: 1023px) {
      html .t12, body .t12 {
        font-size: 18px; } }
  html .t13, body .t13 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 26px; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .t13, body .t13 {
        font-size: 22px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t13, body .t13 {
        font-size: 20px; } }
    @media only screen and (max-width: 1023px) {
      html .t13, body .t13 {
        font-size: 20px; } }
  html .t14, body .t14 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 18px; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      html .t14, body .t14 {
        font-size: 16px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t14, body .t14 {
        font-size: 14px; } }
  html .t15, body .t15 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 22px;
    line-height: 1.4; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t15, body .t15 {
        font-size: 20px;
        line-height: 1.3; } }
    @media only screen and (max-width: 1023px) {
      html .t15, body .t15 {
        font-size: 20px;
        line-height: 1.3; } }
  html .t16, body .t16 {
    font-family: 'Zemestro Std Book', Helvetica, Arial, 'sans-serif';
    font-size: 11px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      html .t16, body .t16 {
        font-size: 10px; } }
  html .sh-nav .item, body .sh-nav .item {
    line-height: 4.7; }
    @media only screen and (max-width: 1023px) {
      html .sh-nav .item, body .sh-nav .item {
        line-height: 2.5; } }
    html .sh-nav .item .n1, body .sh-nav .item .n1 {
      color: #fff;
      text-decoration: none; }
      html .sh-nav .item .n1:hover, body .sh-nav .item .n1:hover {
        color: #B0B0B0; }
  html .sh-nav .social-items .item .n2, body .sh-nav .social-items .item .n2 {
    color: #fff;
    text-decoration: none; }
    html .sh-nav .social-items .item .n2:hover, body .sh-nav .social-items .item .n2:hover {
      color: #fff; }
  @media only screen and (max-width: 1023px) {
    html .sh-nav .social-items .item, body .sh-nav .social-items .item {
      line-height: 3; }
      html .sh-nav .social-items .item .n2, body .sh-nav .social-items .item .n2 {
        color: #999;
        font-size: 18px; } }
  html .sh-footer, body .sh-footer {
    color: #7e7e7e; }
    html .sh-footer .item a, body .sh-footer .item a {
      font-size: 14px;
      color: #7e7e7e;
      text-decoration: none;
      text-transform: uppercase; }
