@-o-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.sh-sub-nav {
  height: 70px;
  width: 100%;
  background: #343330;
  position: relative;
  z-index: 1;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
  .sh-sub-nav.sticky {
    position: fixed;
    top: 0;
    z-index: 15; }
  .sh-sub-nav.subnav-modal-wrapper {
    width: 100%;
    height: 168px;
    position: relative;
    top: 0;
    left: 0;
    background: #2d2b28; }
    .sh-sub-nav.subnav-modal-wrapper .sh-sub-nav-items .item {
      height: 54px;
      border-top: 1px solid #353231;
      border-bottom: 1px solid #2a2826;
      display: block;
      width: 100%;
      position: relative;
      top: 56px; }
      .sh-sub-nav.subnav-modal-wrapper .sh-sub-nav-items .item.active {
        border-bottom: none;
        border-top: none; }
        .sh-sub-nav.subnav-modal-wrapper .sh-sub-nav-items .item.active a {
          color: #fff; }
      .sh-sub-nav.subnav-modal-wrapper .sh-sub-nav-items .item a {
        text-align: center;
        width: 100%;
        height: 100%;
        display: block;
        line-height: 3;
        border: none medium;
        background: transparent;
        cursor: pointer;
        position: relative; }
        @media only screen and (max-width: 1023px) {
          .sh-sub-nav.subnav-modal-wrapper .sh-sub-nav-items .item a {
            line-height: 3.3; } }
      .sh-sub-nav.subnav-modal-wrapper .sh-sub-nav-items .item:first-child {
        border-top: none medium;
        height: 56px; }
      .sh-sub-nav.subnav-modal-wrapper .sh-sub-nav-items .item:last-child {
        border-bottom: none medium; }
  .sh-sub-nav.open .sh-sub-nav-items .item {
    cursor: default; }
    .sh-sub-nav.open .sh-sub-nav-items .item.active::after {
      display: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #afafae transparent;
      content: ' ';
      position: absolute;
      top: 24px;
      left: 290px; }
      @media only screen and (max-width: 1023px) {
        .sh-sub-nav.open .sh-sub-nav-items .item.active::after {
          display: block; } }
      @media only screen and (min-width: 464px) and (max-width: 767px) {
        .sh-sub-nav.open .sh-sub-nav-items .item.active::after {
          left: 93.5%; } }
  @media only screen and (max-width: 1023px) {
    .sh-sub-nav {
      height: 56px; } }
  .sh-sub-nav .sh-sub-nav-items {
    height: 100%;
    width: 100%; }
    .sh-sub-nav .sh-sub-nav-items .item {
      display: block;
      height: 100%;
      width: 33%;
      float: left;
      position: relative;
      background: #343330; }
      @media only screen and (max-width: 1023px) {
        .sh-sub-nav .sh-sub-nav-items .item {
          display: none; } }
      .sh-sub-nav .sh-sub-nav-items .item a {
        height: 100%;
        display: block;
        text-align: center;
        border-right: 1px solid #5e5d5d; }
        .sh-sub-nav .sh-sub-nav-items .item a:hover {
          color: #fff; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .sh-sub-nav .sh-sub-nav-items .item a {
            line-height: 3.3; } }
        @media only screen and (max-width: 1023px) {
          .sh-sub-nav .sh-sub-nav-items .item a {
            line-height: 3.3;
            width: 100%; } }
      .sh-sub-nav .sh-sub-nav-items .item:last-child a {
        border: none medium; }
      .sh-sub-nav .sh-sub-nav-items .item.active {
        background: #5a5a57; }
        @media only screen and (max-width: 1023px) {
          .sh-sub-nav .sh-sub-nav-items .item.active {
            display: block;
            width: 100%;
            position: absolute;
            top: 0; } }
        .sh-sub-nav .sh-sub-nav-items .item.active a {
          color: #fff;
          border: none medium; }
      .sh-sub-nav .sh-sub-nav-items .item.active::after {
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        border-color: transparent;
        border-top-color: #5a5a57;
        border-width: 8px;
        margin-left: -8px;
        left: 50%; }
        @media only screen and (max-width: 1023px) {
          .sh-sub-nav .sh-sub-nav-items .item.active::after {
            border-top-color: #afafae;
            left: 290px;
            top: 24px; } }
        @media only screen and (min-width: 464px) and (max-width: 767px) {
          .sh-sub-nav .sh-sub-nav-items .item.active::after {
            left: 93.5%; } }
        @media only screen and (min-width: 320px) and (max-width: 463px) {
          .sh-sub-nav .sh-sub-nav-items .item.active::after {
            left: 290px; } }
      .sh-sub-nav .sh-sub-nav-items .item.active::before {
        -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        border-color: transparent;
        border-width: 6px;
        margin-left: -6px;
        left: 50%;
        bottom: -6px;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
        @media only screen and (max-width: 1023px) {
          .sh-sub-nav .sh-sub-nav-items .item.active::before {
            display: none; } }
      .sh-sub-nav .sh-sub-nav-items .item:last-child {
        width: 34%; }
        @media only screen and (max-width: 1023px) {
          .sh-sub-nav .sh-sub-nav-items .item:last-child {
            width: 100%; } }
        .sh-sub-nav .sh-sub-nav-items .item:last-child a {
          border-color: #5e5d5d; }
  .sh-sub-nav .sh-sub-nav-items.tts {
    height: 100%;
    width: 100%; }
    .sh-sub-nav .sh-sub-nav-items.tts .item {
      display: block;
      height: 100%;
      width: 50%;
      float: left;
      position: relative;
      background: #343330; }
      .sh-sub-nav .sh-sub-nav-items.tts .item.active {
        background: #5a5a57; }
