<section class="main-wrapper riddles share">
    <div class="scroller">
    
        <h2>
            {{lang.shareHead}}
        </h2>
        <div class="divider"></div>
        <p>
            {{lang.shareCopy}}
        </p>
        <div class="social-links">

            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.shophousekitchen.com%2Friddle%2F" class="facebook" ng-click="trackFacebook()" target="_blank"></a>

            <a href="https://twitter.com/intent/tweet?text=I%20guessed%20today%E2%80%99s%20ingredient%20and%20scored%20a%20free%20bowl%20from%20%40shophousetweets.%20Try%20your%20luck%3A%20shopho.us%2Frad&hashtags=riddlecat" class="twitter" ng-click="trackTwitter()" target="_blank"></a>

        </div>
        <div class="cat">
            <img src="/img/riddles/lucky-cat.png" alt="lucky cat">
        </div>
    </div>
</section>